.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .date-range {
    display: flex;
    align-items: center;
  }
  
  .date-range label,
  .date-range input,
  .date-range button {
    margin-left: 10px;
    
  }
  
  .date-range input {
    margin-left: 5px;
  }
  
  .date-range button {
    margin-left: 10px;
  }
  
  .chart-container {
    margin-top: 20px; /* Khoảng cách giữa các phần tử */
  }