.mymenu{
    background-color: #86e7b8;
}
.menu a{
    color: #326E51;
}
.menu-right{
  float: right;
}
.menu-2{
    margin-left: 320px;
}
.dropdown-item_parent:hover .dropdown-item_child{
    display: block;
}
.dropdown-item_parent{
    position: relative;
}
.dropdown-item_child li:hover{
    background-color: #f3ca45;
}
.dropdown-item_child li{
    display: inline-block;
    width: 100%;
    padding: 10px;
}
.dropdown-item_child{
    display: none;
    position: absolute;
    z-index: 1000;
    width: 200px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}


